@import "./variables_&_mixins";

.chart-card-container{
    @include flexCenter(row);
    justify-content: space-around;
        font-family: 'Helvetica', 'Arial', sans-serif;
        flex-wrap:wrap;
    .outer-chart-container{
        @include opaque-blur;
        background: rgba(0, 0, 0, 0.651);
        margin-top:50px;
        border-radius: 5px;
        margin: 10px;
    }
}
