.header-bar {
  @include flexCenter(row);
  justify-content: space-around;
  height: 10vh;
  width: 100vw;
  background-color: $darkGray;
  box-shadow: 2px 2px 2px 2px black;
  .logo-block {
    @include flexCenter(row);
    height: 100%;
    margin-left: 5px;
    .logo {
      height: 80%;
    }
    h1 {
      margin-left: 5px;
      text-shadow: 2px 2px black;
    }
  }
  .search-block {
    height: 70%;
    width: 30%;
    font-size: large;
    ::placeholder {
      font-size: large;
    }
    input {
      width: 100%;
    }
  }
  .links {
    @include flexCenter(row);
    justify-content: space-between;
    width: 35%;
    margin: 5%;
    a {
      font-size: x-large;
      text-shadow: 2px 2px black;
    }
  }
  .master-button {
    margin-right: 20px;
    width: 80px;
  }
}
