@import "./variables_&_mixins";

.profile-container {
  background: linear-gradient(
      to bottom,
      rgba(252, 252, 252, 0.253) 0%,
      rgba(0, 0, 0, 0.15) 100%),
    radial-gradient(
        at top center,
        rgba(175, 175, 175, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%)
      #4d4d4d;
  background-size: cover;
  @include flexCenter(row);
  padding-bottom: 20px;
  padding-top: 100px;
  min-height: 100vh;
}
    .profile-pic {
      height: 250px;
      width: 350px;
      background-position: center;
      object-fit: cover;
      margin:10px;
      // margin-right:50px;
      // margin-left:50px;
    }
    .userinfo-text{
        color:white;
        margin-bottom:5px;
    }

    #profile-box{
      padding-bottom: 10px;
    }

    .userinfo-text-container{
      padding:5px;
      min-height:200px;
      max-width: 330px;
    }