.edit-button-container{
  color:white;
  display:flex;
  justify-content: center;
  align-items: center;
  //right:20px;
}
.userinfo-green-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 25px;
    padding-top:2px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.123);
    border: 1px solid #5f5e5e;
    z-index:10;
    margin-left:170px;
  }

  .userinfo-green-container:hover {
    box-shadow: $whiteGlow;
    background: rgba(0, 0, 0, 0.123);
    border: 1px solid #5f5e5e;
  }

  .userinfo-edit-button{
    color:white;
    position:absolute;
    right:140px;
    margin: 0px;
    z-index: -1;
  }
  
  .userinfo-box-entered {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left:-31vw;
    top: -55vh;
    background: rgba(0, 0, 0, 0.651);
    border: 1px solid rgb(95, 94, 94);
    backdrop-filter: blur(50%);
    border-radius:5px;
  }
  .userinfo-box-exited {
    position: fixed;
    left:-120vw;
    top: -40vh;
    width:350px;
    height:400px;
  }
  
  .userinfo-form {
    width:330px;
    height:400px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:5px;
    backdrop-filter: blur(20px);
   }
  
.userinfo-text{
  margin-top:0;
  margin-bottom: 5px;
}
   .userinfo-form-text{
     margin:0;
     font-size:12pt;
     font-weight: 600;
     color: lightgray
   }
  
   .userinfo-textarea{
     margin-bottom: 10px;
     border-bottom: 1px solid white;
    background: transparent;
    color: white;
    padding:5px;
   }
   .userinfo-textarea:focus{
    margin-bottom: 10px;
    border: 1px solid white;
    background: transparent;
    color: white;
    padding:5px;
  }
  
   .userinfo-form-input{
    width: 80%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color:  white;
    font-size: 16px;
   }
  .userinfo-box-entering {
    animation-name: entering;
    animation-duration: 0s;
  }
  .userinfo-box-exiting {
    animation-name: leaving;
    animation-duration: 0s;
  }

  .userinfo-submit-button{
    border: none;
outline: none;
height: 40px;
width: 80px;
margin: 5px;
padding: 10px;
background: $lightGrayGradient;
color: white;
font-size: 18px;
border-radius: 5px;
  }
  
  @keyframes entering {
    0% {
      transform:translateX(0);
    }
    100% {
        transform:translateX(0);
    }
  }
  
  @keyframes leaving {
    0% {
      transform:translateX(0);
    }
    100% {
      transform:translateX(0);
    }
  }