.edit-button-container{
  color:white;
  display:flex;
  justify-content: center;
  align-items: center;
  right:20px;
}
.userinfo-green-container {
    display: flex;
    // position: fixed;
    justify-content: center;
    align-items: center;
    //left: 70vw;
    //bottom: 50px;
    width: 30px;
    height: 25px;
    padding-top:2px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    @include opaque-blur;
    z-index:10;
    margin: 10px;
    margin-left:310px;
  }
  
  .userinfo-green-container:hover {
    box-shadow: $whiteGlow;
    @include opaque-blur;
  }

  .userinfo-edit-button{
    color:white;
    position:absolute;
    top:-20px;
  }
  
  .userinfo-box-entered {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left:-70vw;
    top: -65vh;
    background: rgba(0, 0, 0, 0.651);
    border: 1px solid rgb(95, 94, 94);
    backdrop-filter: blur(50%);
  }
  .userinfo-box-exited {
    left:-120vw;
    top: -40vh;
  }
  .info-text{
      font-size:30pt;
      margin-bottom: 10px;
      // background: rgba(0, 0, 0, 0.651);
      // box-shadow: 0px 0px 18px 0px black;
      // padding-right:3px;
      // padding-left:3px;
  }
  
  .userinfo-form {
    width: 50vw;
    height: 50vw;
    background: rgba(0, 0, 0, 0.651);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
  

  //  .addpost-form-text{
  //    margin:0;
  //    font-size:14pt;
  //    font-weight: 600;
  //  }
  
  //  .addpost-textarea{
  //    margin-bottom: 10px;
  //    border-bottom: 1px solid white;
  //   background: transparent;
  //   color: white;
  //   padding:5px;
  //  }
  //  .addpost-textarea:focus{
  //   margin-bottom: 10px;
  //   border: 1px solid white;
  //   background: transparent;
  //   color: white;
  //   padding:5px;
  // }
  
  //  .addpost-form-input{
  //   width: 80%;
  //   margin-bottom: 20px;
  //   border: none;
  //   border-bottom: 1px solid white;
  //   background: transparent;
  //   outline: none;
  //   height: 40px;
  //   color:  white;
  //   font-size: 16px;
  //  }
  .userinfo-box-entering {
    animation-name: entering;
    animation-duration: 0s;
  }
  .userinfo-box-exiting {
    animation-name: leaving;
    animation-duration: 0s;
  }
  
  @keyframes entering {
    0% {
      transform:translateX(0);
    }
    100% {
        transform:translateX(0);
        // 166%
    }
  }
  
  @keyframes leaving {
    0% {
      transform:translateX(0);
      //160%
    }
    100% {
      transform:translateX(0);
    }
  }

  @media (min-width: 1200px) {
    .userinfo-form {
      width: 40vw;
      height: 40vw;
    }
   
    .userinfo-box-entered {
      position: fixed;
      left:-70vw;
      top: -65vh;
      background: rgba(0, 0, 0, 0.651);
    border: 1px solid rgb(95, 94, 94);
    backdrop-filter: blur(6px);
    }
  }
  
  /* ====================== Mobile styles ========================== */
  @media only screen and (min-width: 300px) {
    .userinfo-box-entered {
      left:-54vw;
      top: -70vh;
    }
    .userinfo-form {
      width: 40vw;
      height: 40vw;
     }
  }
  
  
  /*End mobile and up styles*/
  
  
  /* ====================== Tablet Portrait and Up (Overrides Mobile Styles) ========================== */
  @media only screen and (min-width: 768px) {
    .userinfo-box-entered {
      left:-54vw;
      top: -70vh;
    }
    .userinfo-form {
      width: 40vw;
      height: 40vw;
     }
  }
  
    /*end media query*/
    
    /*End tablet and up styles*/
    
    /* ====================== Tablet Landscape and Up (Overrides Mobile and Tablet Portrait Styles) ========================== */
    
    
    
    /*end media query*/
    /*End landscape tablet and up styles*/
    
    
    /* ====================== Desktop Only (Overrides Mobile and Tablet Styles) ========================== */
    @media only screen and (min-width: 1200px) {
      .userinfo-box-entered {
        left:-5vw;
        top: -40vh;
        z-index:100;
      }
      .userinfo-box-exited {
        left:-120vw;
        top: -40vh;
      }
      .userinfo-form {
        width: 45vw;
        height: 30vw;
       }
    }
    /*end media query*/
    /*End desktop only styles*/