.header-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 10vh;
  width: 100vw;
  background-color: rgba(245, 238, 238, 0.247);
  border: 1px solid #5f5e5e;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  margin-top: 10px;
  z-index: 7;
}

.header-bar .logo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin-left: 5px;
}

.header-bar .logo-block .logo {
  height: 100%;
}

.header-bar .logo-block h1 {
  margin-left: 5px;
  text-shadow: 2px 2px black;
}

.header-bar .search-block {
  height: 70%;
  width: 30%;
  font-size: large;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 20px;
}

.header-bar .search-block ::-webkit-input-placeholder {
  font-size: large;
  color: #aca9a9;
}

.header-bar .search-block :-ms-input-placeholder {
  font-size: large;
  color: #aca9a9;
}

.header-bar .search-block ::-ms-input-placeholder {
  font-size: large;
  color: #aca9a9;
}

.header-bar .search-block ::placeholder {
  font-size: large;
  color: #aca9a9;
}

.header-bar .search-block input {
  margin-top: 10px;
  width: 100%;
  border: 1px solid #5f5e5e;
  background: rgba(0, 0, 0, 0.123);
  height: 40px;
  color: white;
  font-size: 16px;
  border-radius: 5px;
}

.header-bar .search-block input:hover {
  -webkit-box-shadow: 0px 0px 6px white;
          box-shadow: 0px 0px 6px white;
}

.header-bar .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 35%;
  margin: 5%;
}

.header-bar .links a {
  font-size: x-large;
}

.header-bar .master-button {
  margin-right: 30px;
  width: 80px;
}

.Post-Container {
  background: lightblue;
}

.AddPost-green-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 2vw;
  bottom: 50px;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  color: white;
  -webkit-box-shadow: 0px 12px 18px -6px black;
          box-shadow: 0px 12px 18px -6px black;
  background-color: rgba(245, 238, 238, 0.247);
  border: 1px solid #5f5e5e;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}

.AddPost-green-container:hover {
  -webkit-box-shadow: 0px 0px 6px white;
          box-shadow: 0px 0px 6px white;
  background-color: white;
}

.box {
  position: fixed;
  left: -170vw;
  top: -65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: rgba(245, 238, 238, 0.247);
  border: 1px solid #5f5e5e;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  min-height: 60vw;
  max-height: 60vw;
  width: 60vw;
  -webkit-box-shadow: 0px 12px 18px -6px black;
          box-shadow: 0px 12px 18px -6px black;
  border-radius: 5px;
  z-index: 10;
  background: rgba(0, 0, 0, 0.651);
  border: 1px solid #5f5e5e;
  backdrop-filter: blur(6px);
}

.box-entered {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: -70vw;
  top: -65vh;
  background: rgba(0, 0, 0, 0.651);
  border: 1px solid #5f5e5e;
  -webkit-backdrop-filter: blur(50%);
          backdrop-filter: blur(50%);
}

.how-text {
  font-size: 40pt;
  margin-bottom: 10px;
}

.add-post-form {
  width: 50vw;
  height: 50vw;
  background: rgba(0, 0, 0, 0.651);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.addpost-form-text {
  margin: 0;
  font-size: 14pt;
  font-weight: 600;
}

.addpost-textarea {
  margin-bottom: 10px;
  border-bottom: 1px solid white;
  background: transparent;
  color: white;
  padding: 5px;
}

.addpost-textarea:focus {
  margin-bottom: 10px;
  border: 1px solid white;
  background: transparent;
  color: white;
  padding: 5px;
}

.addpost-form-input {
  width: 80%;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  outline: none;
  height: 40px;
  color: white;
  font-size: 16px;
}

.addpost-dropdown {
  margin-top: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.15)), to(rgba(0, 0, 0, 0.15))), radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 120%) #989898;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 120%) #989898;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
}

.addpost-dropdown:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#323232), color-stop(40%, #3F3F3F), color-stop(150%, #1C1C1C)), -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.4)), color-stop(200%, rgba(0, 0, 0, 0.25)));
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.25) 200%);
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
}

.addpost-submit-button {
  border: none;
  outline: none;
  height: 40px;
  width: 80px;
  margin: 20px;
  padding: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.15)), to(rgba(0, 0, 0, 0.15))), radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 120%) #989898;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 120%) #989898;
  color: white;
  font-size: 18px;
  border-radius: 5px;
}

.addpost-submit-button:hover {
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#323232), color-stop(40%, #3F3F3F), color-stop(150%, #1C1C1C)), -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.4)), color-stop(200%, rgba(0, 0, 0, 0.25)));
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.25) 200%);
  background-blend-mode: multiply;
}

.box-entering {
  -webkit-animation-name: entering;
          animation-name: entering;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.box-exiting {
  -webkit-animation-name: leaving;
          animation-name: leaving;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes entering {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(166%);
            transform: translateX(166%);
  }
}

@keyframes entering {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(166%);
            transform: translateX(166%);
  }
}

@-webkit-keyframes leaving {
  0% {
    -webkit-transform: translateX(160%);
            transform: translateX(160%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes leaving {
  0% {
    -webkit-transform: translateX(160%);
            transform: translateX(160%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (min-width: 1200px) {
  .add-post-form {
    width: 40vw;
    height: 40vw;
  }
  .box {
    position: fixed;
    left: -70vw;
    top: 20vh;
    padding: 40px;
    min-height: 45vw;
    max-height: 60vw;
    width: 50vw;
  }
  .box-entered {
    position: fixed;
    left: -70vw;
    top: -65vh;
    background: rgba(0, 0, 0, 0.651);
    border: 1px solid #5f5e5e;
    -webkit-backdrop-filter: blur(6px);
            backdrop-filter: blur(6px);
  }
}

/* ====================== Mobile styles ========================== */
/*End mobile and up styles*/
/* ====================== Tablet Portrait and Up (Overrides Mobile Styles) ========================== */
/*end media query*/
/*End tablet and up styles*/
/* ====================== Tablet Landscape and Up (Overrides Mobile and Tablet Portrait Styles) ========================== */
/*end media query*/
/*End landscape tablet and up styles*/
/* ====================== Desktop Only (Overrides Mobile and Tablet Styles) ========================== */
/*end media query*/
/*End desktop only styles*/
.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 12vh;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-image: url("https://cdn.pixabay.com/photo/2017/06/19/23/10/raccoon-2421188_960_720.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-width: 100vw;
}

.dashboard .categories {
  width: 27%;
  position: -webkit-sticky;
  position: sticky;
  top: 12vh;
}

.dashboard .categories .each-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.651);
  border: 1px solid #5f5e5e;
  position: -webkit-sticky;
  position: sticky;
  margin-top: 10px;
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dashboard .categories .each-category img {
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 12px 18px -6px black;
          box-shadow: 0px 12px 18px -6px black;
}

.dashboard .categories .each-category img:hover {
  -webkit-box-shadow: 0px 0px 6px white;
          box-shadow: 0px 0px 6px white;
}

.dashboard .column-2 .about {
  background: rgba(0, 0, 0, 0.651);
  border: 1px solid #5f5e5e;
  color: #e9e8e8;
  margin-top: 10px;
  margin-left: 7%;
  padding: 10px;
  width: 85%;
  font-size: x-large;
}

.dashboard .column-2 .about .title {
  color: #47ac58;
  text-shadow: 2px 2px black;
}

.dashboard .column-2 .about p {
  margin: 20px;
}

.dashboard .column-2 .posts {
  margin-top: 40px;
}

.dashboard .postLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard .postLink .post-container {
  background-color: rgba(51, 51, 51, 0.973);
  border: 1px solid #5f5e5e;
  padding: 10px;
  margin-bottom: 10px;
  width: 50vw;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

*:focus {
  outline: none;
}

.master-input-box {
  height: 60%;
  width: 40%;
  border: 1px solid black;
  border-radius: 2px;
  margin: 4px;
  padding-left: 20px;
  background: rgba(0, 0, 0, 0.651);
}

.master-input-box:focus {
  -webkit-box-shadow: 0px 0px 6px white;
          box-shadow: 0px 0px 6px white;
}

.master-button {
  border: 1px solid #5f5e5e;
  background: rgba(0, 0, 0, 0.123);
  padding: 7px;
  margin: 5px;
  border-radius: 5px;
  color: #b1afaf;
  font-weight: 300;
  font-size: 14pt;
}

.master-button:hover {
  background-color: white;
  -webkit-box-shadow: 0px 0px 6px white;
          box-shadow: 0px 0px 6px white;
  color: black;
}

h1 {
  color: #47ac58;
  text-shadow: 1px 1px black;
}

h6 {
  font-weight: 700;
  font-size: large;
  color: black;
  margin: 5%;
}

p {
  font-weight: 500;
  font-size: smaller;
  margin: 5%;
  text-align: justify;
}

a {
  color: #e9e8e8;
  font-size: medium;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
}

a:hover {
  color: white;
  text-shadow: 0px 0px 6px white;
}

a:visited {
  text-decoration: none;
}
/*# sourceMappingURL=styles.css.map */