.header-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 10vh;
  width: 100vw;
  background-color: #3b3b3b;
  -webkit-box-shadow: 2px 2px 2px 2px black;
          box-shadow: 2px 2px 2px 2px black;
}

.header-bar .logo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin-left: 5px;
}

.header-bar .logo-block .logo {
  height: 80%;
}

.header-bar .logo-block h1 {
  margin-left: 5px;
  text-shadow: 2px 2px black;
}

.header-bar .search-block {
  height: 70%;
  width: 30%;
  font-size: large;
}

.header-bar .search-block ::-webkit-input-placeholder {
  font-size: large;
}

.header-bar .search-block :-ms-input-placeholder {
  font-size: large;
}

.header-bar .search-block ::-ms-input-placeholder {
  font-size: large;
}

.header-bar .search-block ::placeholder {
  font-size: large;
}

.header-bar .search-block input {
  width: 100%;
}

.header-bar .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 35%;
  margin: 5%;
}

.header-bar .links a {
  font-size: x-large;
  text-shadow: 2px 2px black;
}

.header-bar .master-button {
  margin-right: 20px;
  width: 80px;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
}

*:focus {
  outline: none;
}

.master-input-box {
  height: 90%;
  width: 40%;
  border: 1px solid black;
  border-radius: 2px;
  margin: 4px;
  padding-left: 20px;
  -webkit-box-shadow: 1px 1px 1px 1px black;
          box-shadow: 1px 1px 1px 1px black;
}

.master-input-box:focus {
  -webkit-box-shadow: 1px 1px 1px 2px #84a438;
          box-shadow: 1px 1px 1px 2px #84a438;
}

.master-button {
  background-color: #84a438;
  padding: 7px;
  margin: 5px;
  border-radius: 5px;
  color: black;
  font-size: medium;
  font-weight: 700;
  border: 1px black;
  -webkit-box-shadow: 1px 1px 1px 2px black;
          box-shadow: 1px 1px 1px 2px black;
}

.master-button:hover {
  background-color: white;
}

h1 {
  color: #84a438;
  text-shadow: 1px 1px black;
}

h6 {
  font-weight: 700;
  font-size: large;
  color: black;
  margin: 5%;
}

p {
  font-weight: 500;
  font-size: smaller;
  font-style: italic;
  margin: 5%;
  text-align: justify;
}

a {
  color: #84a438;
  font-size: medium;
  font-weight: 700;
  font-style: normal;
  text-shadow: 0.5px 0.5px #3b3b3b;
  text-decoration: none;
}

a:hover {
  color: white;
}

a:visited {
  text-decoration: none;
}
/*# sourceMappingURL=styles.css.map */